# 230968126 ML Lab Week 2

Name :- Kewal Thacker Section :- A

Exercise 1

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
dataset = pd.read_csv("C:\\Users\\mca\\Desktop\\Week 2\\mtcars.csv")
df = pd.DataFrame(dataset)
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

1.	Write a user defined function ‘myFnLinReg(x,y)’ to perform Simple Linear Regression given one predictor attribute and one response attribute. The function should return the coefficients of the straight line.

In [3]:
def myFnLinReg(x,y):
    x = np.array(x)
    y = np.array(y)
    
    n = len(x)
    
    sum_x = np.sum(x)
    sum_y = np.sum(y)
    sum_xy = np.sum(x*y)
    sum_x_squared = np.sum(x**2)
    
    beta_1 = (n * sum_xy - sum_x * sum_y) / (n * sum_x_squared - sum_x**2)
    beta_0 = (sum_y - beta_1 * sum_x)/n
    return beta_0, beta_1

2.	Use mtcars data set and consider the attributes mpg and weight. Split data into train and test sets (80 %,20%). Put training data set to ‘myFnLinReg(x,y)’ to build a linear regression model to predict mpg given the weight of the car.

In [5]:
X = df["wt"]
y = df["mpg"]
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state = 42)
intercept, slope = myFnLinReg(X_train, y_train)
print(f"Intercept (beta_0) : {intercept}")
print(f"Slope (beta_1) : {slope}")
y_pred = intercept + slope * X_test

Intercept (beta_0) : 36.9373103135183
Slope (beta_1) : -5.336941400557047

3.	What is the mpg of a car, whose weight is 5.5?

In [6]:
mpg_car = intercept + slope * 5.5
print("mpg of a car with weight 5.5 is ", mpg_car)

mpg of a car with weight 5.5 is  7.584132610454546

4.	Compute and print accuracy measures such as RMSE and R2  for the test set.

In [7]:
from sklearn.metrics import mean_squared_error, r2_score
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Mean Squared Error : {mse}")
print(f"R-squared : {r2}")

Mean Squared Error : 12.475985659918829
R-squared : 0.6879761857596274

5.	Apply the stochastic gradient descent and mini batch gradient descent algorithms to enhance the accuracy and visualize the cost function.

In [ ]:
def compute_cost(X, y, theta):
    m = len(y)
    predictions = X.dot(theta)
    cost = (1/(2*m)) * np.sum((predictions - y)**2)
    return cost

def stochastic_gradient_descent(X, y, theta, learning_rate, iterations):
    m = len(y)
    cost_history = []
    for i in range(iterations):
        for j in range(m):
            random_index = np.random.randint(m)
            X_j = X[random_index : random_index + 1]
            y_j = y[random_index : random_index + 1]
            
            prediction = X_j.dot(theta)
            error = prediction - y_j
            theta = theta - learning_rate * X_j.T.dot(error)
        cost_history.append(compute_cost(X, y, theta))
    return theta, cost_history

def mini_batch_gradient_descent(X, y, theta, learning_rate, iterations, batch_size):
    m = len(y)
    cost_history = []
    for i in range(iterations):
        for j in range(0, m, batch_size):
            X_batch = X[j : j+batch_size]
            y_batch = y[j : j+batch_size]
            predictions = X_batch.dot(theta)
            errors = predictions - y_batch
            theta = theta - (learning_rate/batch_size) * X_batch.T.dot(errors)
        cost_history.append(compute_cost(X,y,theta))
    return theta,cost_history

X_train = np.c_[np.ones(X_train.shape[0]), X_train]

theta_initial = np.zeros(X_train.shape[1])
learning_rate = 0.01
iterations = 1000
batch_size = 16

theta_sgd, cost_history_sgd = stochastic_gradient_descent(X_train, y_train, theta_initial, learning_rate, iterations)
theta_mbgd, cost_history_mbgd = mini_batch_gradient_descent(X_train, y_train, theta_initial, learning_rate, iterations, batch_size)

plt.figure(figsize = (12,6))

plt.subplot(1,2,1)
plt.plot(range(iterations), cost_history_sgd, color = 'blue')
plt.title('SGD Cost Function')
plt.xlabel('Iterations')
plt.ylabel('Cost')

plt.subplot(1,2,2)
plt.plot(range(iterations), cost_history_mbgd, color = 'green')
plt.title('Mini-Batch Gradient Descent Cost Function')
plt.xlabel('Iterations')
plt.ylabel('Cost')

plt.tight_layout()
plt.show()

print(f"SGD Final parameters (theta) : {theta_sgd}")
print(f"Mini-Batch Gradient Descent final parameters (theta) : {theta_mbgd}")

Exercise 2

In [15]:
dataset = pd.read_csv("C:\\Users\\mca\\Desktop\\Week 2\\Boston.csv")
df = pd.DataFrame(dataset2)
df

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,502,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,503,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,504,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,505,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,506,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

1.	Use the boston.csv dataset and determine the best 5 features to predict ‘MEDV’.

In [18]:
X = df.drop(columns = ['medv'])
y = df['medv']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators = 100, random_state = 42)
rf.fit(X_train, y_train)

feature_importances = rf.feature_importances_

feature_df = pd.DataFrame({
    'Feature' : X.columns,
    'Importance' : feature_importances
})

feature_df = feature_df.sort_values(by = 'Importance', ascending = False)

print("Top 5 features to predict 'medv' : ")
print(feature_df.head(5))

Top 5 features to predict 'medv' :
       Feature  Importance
6           rm    0.502631
13       lstat    0.307948
8          dis    0.058325
1         crim    0.032738
0   Unnamed: 0    0.022757

2.	Using sklearn.linear_model, find the multiple regression model for the boston.csv dataset using the best 3 features.  (from sklearn.linear_model import LinearRegression)

In [19]:
top_3_features = feature_df['Feature'].head(3).values
X_selected = X[top_3_features]

model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

3.	Find the accuracy of the model using appropriate metrics using 80, 20 split for training and test.

In [20]:
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Mean Squared Error (MSE) : {mse}")
print(f"R-squared : {r2}")
print(f"Intercept : {model.intercept_}")
print(f"Coefficients : {model.coef_}")

Mean Squared Error (MSE) : 24.497819777630284
R-squared : 0.665940870334305
Intercept : 30.412686521180177
Coefficients : [-3.47490827e-03 -1.13313604e-01  3.23067056e-02  4.35516844e-02
  2.75621916e+00 -1.69386529e+01  4.48663161e+00 -1.09175430e-02
 -1.47608119e+00  2.92666304e-01 -9.92202267e-03 -9.11544575e-01
  1.24202332e-02 -5.12262693e-01]